<!-- src/views/addProduct.handlebars -->

<h1>Agregar Producto</h1>

<form action="/api/products" method="POST">
    <label for="title">Título:</label>
    <input type="text" name="title" id="title" required>

    <label for="description">Descripción:</label>
    <textarea name="description" id="description" required></textarea>

    <label for="price">Precio:</label>
    <input type="number" name="price" id="price" required>

    <label for="stock">Stock:</label>
    <input type="number" name="stock" id="stock" required>

    <button type="submit">Agregar Producto</button>
</form>
