<!-- src/views/index.handlebars -->

<h1>Bienvenido a la Tienda Online</h1>

<nav>
    <ul>
        <li><a href="/api/products" class="button">Ver Productos</a></li>
        <li><a href="/api/products/add" class="button">Agregar Producto</a></li>
        <li><a href="/api/carts" class="button">Ver Carritos</a></li>
        <li><a href="/api/carts/add" class="button">Agregar Producto al Carrito</a></li>
    </ul>
</nav>
